<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jukeboxgh"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.jukeboxgh.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.jukeboxgh.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.jukeboxgh.RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name="com.example.jukeboxgh.WelcomeActivity"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name="com.example.jukeboxgh.SignInActivity"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <activity
            android:name="com.example.jukeboxgh.WelcomeOneActivity"
            android:label="@string/title_activity_welcome_one" >
        </activity>
        <activity
            android:name="com.example.jukeboxgh.FollowActivity"
            android:label="@string/title_activity_follow" >
        </activity>
        <activity
            android:name="com.example.jukeboxgh.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".Stream_activity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>